train_out/*
.venv/*
**/__pycache__/** */
*.log
visualization/**
*.pyc
wandb/*
*.png
*.gif
.idea/*
.codex
.vscode/*
*.hdf5
datasets
datasets_converted
*.egg-info/
checkpoints/
lingbot-va/real_robot_server_out/
lingbot-va/preprocess/my_lift2_conversion_*.yaml
